.rykn0wxx {
  .mudhead {
    background-color: #212529;
    color: #b2b9bf;
    .app-md, .app-content {
      background-color: #353846;
      color: #b2b9bf;
    }
    .md-card {
      color: #b2b9bf;
      background-color: #2f323e;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .md-field > .md-icon::after {
      background-color: rgba(0,0,0,0);
    }
  }
}

.md-drawer {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}