.rykn0wxx {
  .mudhead {
    background-color: #212529;
    color: #b2b9bf;
    .app-md, .app-content {
      background-color: #353846;
      color: #b2b9bf;
    }
    .md-drawer {
      width: 272px;
      min-width: 272px;
      max-width: 272px;
    }
    .md-card {
      color: #b2b9bf;
      background-color: #2f323e;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}